---
import BaseLayout from './BaseLayout.astro';

const { title, description } = Astro.props;
---
<BaseLayout title={title} description={description}>
  <section class="legal-layout">
    <div class="legal-content markdown">
      <slot />
    </div>
  </section>
</BaseLayout>
